<div ng-controller="DashboardViewCtrl">
      <h3>
        <div class='getInline'>
          
          <label class="info" ng-repeat="(type, value) in ticketTypes">
             <input type="checkbox" ng-model="ticketTypes[type]" >&nbsp[[ type ]]
          </label>
          <label ng-repeat="(type, value) in alertTypes" ng-class="type">
             <input type="checkbox" ng-model="alertTypes[type]">&nbsp[[ type ]]  
          </label>

        </div>
      </h3>  
        <br />



          <table id='table1'>
            <thead>
              <tr>
                <td>Alerts</td>
              </tr>
             
            
              <tr>
                
                <td class="info" ng-click="predicate = 'id'; reverse=!reverse">Id</td>
                <td class="info" ng-click="predicate = 'ticket_status'; reverse=!reverse">Ticket Status</td>
                <td class="info" ng-click="predicate = 'monitoring_server_name'; reverse=!reverse">Monitoring Server</td>
                <td class="info" ng-click="predicate = 'alert_hostname'; reverse=!reverse">Hostname</td>
                <td class="info" ng-click="predicate = 'alert_name'; reverse=!reverse">Alert</td>
                <td class="info" ng-click="predicate = 'alert_status'; reverse=!reverse">Status</td>
                <td class="info" ng-click="predicate = 'jira_ticket'; reverse=!reverse">Jira Ticket</td>
                <td class="info" ng-click="predicate = 'time'; reverse=!reverse">Time In</td>
                <td class="info" ng-click="predicate = 'date'; reverse=!reverse">Date In</td>
                <td class="info" ng-click="predicate = 'jira_time'; reverse=!reverse">Time Out</td>
                <td class="info" ng-click="predicate = 'jira_date'; reverse=!reverse">Date Out</td>
                  
              </tr>
                      
            </thead>
            <tbody>
              <tr ng-repeat="alert in alerts 
                              | orderBy:predicate:reverse 
                              | ticketStatusFilter:ticketTypes 
                              | alertStatusFilter:alertTypes" 
                  ng-class="alert.alert_status"
                  ng-click="toggleModal(alert)" >

                <td>[[ alert.id ]]</td>
                <td>[[ alert.ticket_status ]]</td>
                <td>[[ alert.monitoring_server_name ]]</td>
                <td>[[ alert.alert_hostname ]]</td>
                <td>[[ alert.alert_name ]]</td>
                <td>[[ alert.alert_status ]]</td>
                <td>[[ alert.jira_ticket ]]</td>
                <td>[[ alert.time ]]</td>
                <td>[[ alert.date ]]</td>
                <td>[[ alert.jira_time ]]</td>
                <td>[[ alert.jira_date ]]</td>

              </tr>
            </tbody>
          </table>

                  <div ng-include src="'/static/dashboard/partials/modal_ticketdetail.html'"></div>
              

</div>
