<div ng-controller="DashboardViewCtrl">

        <div class='getInline'>
          
          <label ng-repeat="ticketStatus in ticketStatusList">
             [[ ticketStatus ]]&nbsp<input type="checkbox" >  
          </label>
          <label ng-repeat="alertstatus in alertStatusList">
             [[ alertstatus ]]&nbsp<input type="checkbox" >  
          </label>

        </div>
        <br />



          <table>
            <thead>
              <tr>
              <thead>Alerts</thead>
              </tr>
              <tr>
                <td ng-click="predicate = 'id'; reverse=!reverse">Id</td>
                <td ng-click="predicate = 'ticket_status'; reverse=!reverse">Ticket Status</td>
                <td ng-click="predicate = 'monitoring_server_name'; reverse=!reverse">Monitoring Server</td>
                <td ng-click="predicate = 'alert_hostname'; reverse=!reverse">Alert Host</td>
                <td ng-click="predicate = 'alert_name'; reverse=!reverse">Alert Name</td>
                <td ng-click="predicate = 'alert_status'; reverse=!reverse">Alert Status</td>
                <td ng-click="predicate = 'jira_ticket'; reverse=!reverse">Jira Ticket</td>
                <td ng-click="predicate = 'time'; reverse=!reverse">In Time</td>
                <td ng-click="predicate = 'date'; reverse=!reverse">In Date</td>
                <td ng-click="predicate = 'jira_time'; reverse=!reverse">Out Time</td>
                <td ng-click="predicate = 'jira_date'; reverse=!reverse">Out Date</td>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="alert in alerts | orderBy:predicate:reverse ">
                <td>[[ alert.id ]]</td>
                <td>[[ alert.ticket_status ]]</td>
                <td>[[ alert.monitoring_server_name ]]</td>
                <td>[[ alert.alert_hostname ]]</td>
                <td>[[ alert.alert_name ]]</td>
                <td>[[ alert.alert_status ]]</td>
                <td>[[ alert.jira_ticket ]]</td>
                <td>[[ alert.time ]]</td>
                <td>[[ alert.date ]]</td>
                <td>[[ alert.jira_time ]]</td>
                <td>[[ alert.jira_date ]]</td>
              </tr>
            </tbody>
          </table>
        </div>
