{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" ng-app="gatewayApp">
<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
  
  <link rel="stylesheet" type="text/css" href="{% static 'dashboard/lib/normalize/normalize.v3.0.2.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'dashboard/lib/font-awesome-4.2.0/css/font-awesome.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/style.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/modal.css' %}"/>
    
</head>
<body>


<div id='main-container'>
        <div id='header-container'>
            <header>
                  <h1>Gateway<h1>
            </header>
            <div ng-controller="NavCtrl">
                <nav>
                    <ul>
                      <li ng-click="setRoute('/dashboard')">
                        Dashboard
                      </li>
                      <li ng-click="setRoute('/graphs')">
                        Graphs
                      </li>
                      <li>
                        <a href="/api-auth/login/?next=/api/get/">
                          API
                        <a>
                      </li>
                      <li ng-click="setRoute('/search')">
                        Search
                      </li>
                      <li class='pull-right' >
                        <a href='/admin/'>
                          Login
                        </a> 
                      </li>
                    </ul>
                </nav>
          </div>
        </div>
        <div id='body-container'>
              <div ng-view></div>       
        </div>
        

           

            
              


    <footer>
        This is the Footer <i class="fa fa-times"></i>
    </footer>
 
</div>

<script type="text/javascript" src="{{ STATIC_URL }}dashboard/lib/jquery/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}dashboard/lib/angular-1.2.26/angular.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}dashboard/lib/angular-1.2.26/angular-resource.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}dashboard/lib/angular-1.2.26/angular-route.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}dashboard/js/app.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}dashboard/js/services.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}dashboard/js/controllers.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}dashboard/js/filters.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}dashboard/js/directives.js"></script>
</body>
</html>